body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #8800ff;
  padding: 20px;
}

.logo {
  color: white;
  text-decoration: none;
  font-size: 1.5em;
  font-weight: bold;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 50%;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: normal;
  transition: font-weight 0.3s ease;
}

.nav-links li a:hover {
  font-weight: bold;
}

.burger {
  display: none;
  cursor: pointer;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
  }
  .nav-links.active {
    display: flex;
  }
  .burger {
    display: block;
  }
}
